mixin viewMoreLink(label, path, addClass)
    div.c-view-more-link
        div.c-view-more-link__inner
          a.c-view-more-link__link(href=`${path}`, class=`${addClass}`) #{label}
            span.c-view-more-link__icon ＼