extend /layout/_layout
append variables
  //- Required
  - var pageTitle= "店舗情報";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "店舗情報";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= relativePath;
  //- 「〜はこちら」の導線を出し分けるフラグ
  - var isContactPage = true;

block content
  main
    section.p-recruitment
      div.p-recruitment__inner
        h3.p-recruitment__head アルバイト募集中！
        div.p-recruitment__text-wrapper
          p.p-recruitment__text
            |おいしいパンに包まれた幸せな空間で
            br
            |私たちと一緒に働きませんか？
            br
            |まずは簡単なレジ打ちや品出しから！
        form(class="p-recruitment__form", name="contact", method="POST", data-netlify-recaptcha="true", data-netlify="true")
          div.p-recruitment__form__name
            label(for="name") お名前
            br
            input(placeholder="山田 太郎", class="p-recruitment__form__input", type="text", name="name")
          div.p-recruitment__form__mail
            label(for="mail") メールアドレス
            br
            input(placeholder="sample@sample.jp", class="p-recruitment__form__input", type="email", name="email")
          div.p-recruitment__form__address
            label(for="address") 電話番号
            br
            input(placeholder="xxx-xxxx-xxxx", class="p-recruitment__form__input", name="address")
          div(class="g-recaptcha", data-sitekey="6LdtkLgUAAAAAIKvMIkvL1iKO-0lROtEkdzMTpAt", data-callback="reCaptcha_Ok" width="100")
          div.p-recruitment__button-wrapper
            button(class="p-recruitment__submit", type="submit", name="button", disabled) 内容を送信する
        p.p-recruitment__notice ※ 確認後、すぐに連絡させていただきます
    section.p-line-at
      div.p-line-at__inner
        div.p-line-at__textArea
          h2.p-line-at__textArea__title LINE@でお得
          p.p-line-at__textArea__text
            |LINE@にてこだわり抜いたパンの
            br
            |最新情報発信中！
            br
            |お得な情報や特売セール、新商品の
            br
            |お知らせをチェック！
        img(src="assets/img/lineat_add-friend.jpg", class="p-line-at__qr" alt="QRコードの画像")
        a.p-line-at__add-friend(href="https://line.me/R/ti/p/%40vmm9711g" target="_blank")
          img(height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png")
    include /object/project/_access