include /object/component/_viewMoreLink
section.p-access
  div.p-access__inner
    div.p-access__info
      h2.p-access__title 
      dl.p-access__lists
        div
          dt
          dd
            | 
            br
            | 
        div
          dt
          dd
            a(href="#") link
        div
          dt 
          dd 
        div
          dt 
          dd 
        div
          dt 
          dd
            | 
            br
            | 
