block js
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
  script(src="https://www.gstatic.com/firebasejs/6.6.0/firebase.js", async)
  script(src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js", async)
  script(src="assets/js/script.js", async)